.WishList {}

.btn {
  background-color: white !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  transition: 0.3s;
}
.btn:hover{
  background-color: var(--main-color) !important;
  color: white !important;
}
.imgdiv{
  transition: 0.3s;
}
.imgdiv:hover{
  transform: scale(1.2);
  overflow: hidden;
}
