.Auth {}

.Registerform{
    width: 60%;
    background-color: transparent;
    border-radius: 30px !important;
    border: 1px solid var(--main-color);
}
.header{
    color: var(--main-color) !important;
}

.subbtn{
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--main-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--main-color);
}

.subbtn:not(:disabled):hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--main-color);
}

.subbtn:active {
  transform: scale(0.9);
}
.subbtn:disabled{
    cursor: not-allowed;
    opacity: o.5;
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width : 768px) {
  .Registerform{
    width: 100% !important;
  }
}

